<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juices</title>
</head>
<body>
    {{> header}}
    <header>
      <div class="juices">
        <img src="/juices.png" alt="">
      </div>
      <div class="headings">
        <h2>Buy Juices</h2>
        <h3>Awesome organic juices for healthy life</h3>
        <a href="/juices" class="btn">View Juices</a>
      </div>
  </header>
</body>
</html>

